.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.center-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-info {
    border: 2px solid ghostwhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(55,55,55);
    background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 100%);
    width: 70%;
    padding: 30px;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
}

.modal-image {
    width: 18vw;
    height: auto;
    border: 3px solid ghostwhite;
    border-radius: 15px;
}

.status {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.close-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.close-btn-text {
    border: none;
    background-color: transparent;
    color: rgb(100, 110, 255);
}

.close-btn-text:hover {
    text-decoration: underline;
}

.modal-description {
  color: ghostwhite;  
}